<!-- Price Card Component -->
<!-- Usage: <div data-component="price-card" data-source="prices" data-index="0"></div> -->
<div class="art-a art-price">
  <div class="art-price-body">
    <h5 class="mb-30">{{title}}</h5>
    <div class="art-price-cost">
      <div class="art-number">{{price}}<sup>{{suffix}}</sup></div>
    </div>
    <ul class="art-price-list">
      {{#features}}
      <li class="{{class}}">{{.}}</li>
      {{/features}}
    </ul>
    <a href="{{link}}" class="art-link art-color-link art-w-chevron">{{linkText}}</a>
    {{#note}}<div class="art-asterisk"><sup>*</sup>{{note}}</div>{{/note}}
  </div>
</div>
