<div class="art-info-bar-frame">

  <!-- info bar header -->
  <div class="art-info-bar-header">
    <!-- info bar button -->
    <a class="art-info-bar-btn" href="#.">
      <!-- icon -->
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <!-- info bar button end -->
  </div>
  <!-- info bar header end -->

  <!-- info bar header -->
  <div class="art-header">
    <!-- avatar -->
    <div class="art-avatar">
      <a data-fancybox="avatar" href="./img/face-1.jpg" class="art-avatar-curtain">
        <img src="./img/face-1.jpg" alt="avatar">
        <i class="fas fa-expand"></i>
      </a>
      <!-- available -->
      <div class="art-lamp-light">
        <!-- add class 'art-not-available' if not available-->
        <div class="art-available-lamp"></div>
      </div>
    </div>
    <!-- avatar end -->
    <!-- name -->
    <h5 class="art-name mb-10"><a href="index.html">Vadim</a></h5>
    <!-- post -->
    <div class="art-sm-text">Front-end Developer <br>UI/UX Designer</div>
  </div>
  <!-- info bar header end -->

  <!-- scroll frame -->
  <div id="scrollbar2" class="art-scroll-frame">

    <!-- info bar about -->
    <div class="art-table p-15-15">
      <!-- about text -->
      <ul>
        <!-- country -->
        <li>
          <h6>Residence:</h6><span>Ukraine</span>
        </li>
        <!-- city -->
        <li>
          <h6>City:</h6><span>Kharkov</span>
        </li>
      </ul>
    </div>
    <!-- info bar about end -->

    <!-- divider -->
    <div class="art-ls-divider"></div>

    <!-- language skills -->
    <div class="art-lang-skills p-30-15">
      <!-- skill -->
      <div class="art-lang-skills-item">
        <div id="circleprog1" class="art-cirkle-progress"></div>
        <!-- title -->
        <h6>French</h6>
      </div>
      <!-- skill -->
      <div class="art-lang-skills-item">
        <div id="circleprog2" class="art-cirkle-progress"></div>
        <!-- title -->
        <h6>English</h6>
      </div>
      <!-- skill -->
      <div class="art-lang-skills-item">
        <div id="circleprog3" class="art-cirkle-progress"></div>
        <!-- title -->
        <h6>Spanish</h6>
      </div>
    </div>
    <!-- language skills end -->

    <!-- divider -->
    <div class="art-ls-divider"></div>

    <!-- hard skills -->
    <div class="art-hard-skills p-30-15">
      <!-- skill -->
      <div class="art-hard-skills-item">
        <div class="art-skill-heading">
          <h6>HTML</h6>
        </div>
        <div class="art-line-progress">
          <div id="lineprog1"></div>
        </div>
      </div>
      <!-- skill -->
      <div class="art-hard-skills-item">
        <div class="art-skill-heading">
          <h6>CSS</h6>
        </div>
        <div class="art-line-progress">
          <div id="lineprog2"></div>
        </div>
      </div>
      <!-- skill -->
      <div class="art-hard-skills-item">
        <div class="art-skill-heading">
          <h6>JS</h6>
        </div>
        <div class="art-line-progress">
          <div id="lineprog3"></div>
        </div>
      </div>
      <!-- skill -->
      <div class="art-hard-skills-item">
        <div class="art-skill-heading">
          <h6>PHP</h6>
        </div>
        <div class="art-line-progress">
          <div id="lineprog4"></div>
        </div>
      </div>
      <!-- skill -->
      <div class="art-hard-skills-item">
        <div class="art-skill-heading">
          <h6>WordPress</h6>
        </div>
        <div class="art-line-progress">
          <div id="lineprog5"></div>
        </div>
      </div>
    </div>
    <!-- hard skills end -->

    <!-- divider -->
    <div class="art-ls-divider"></div>

    <!-- knowledge list -->
    <ul class="art-knowledge-list p-15-0">
      <li>Bootstrap, Materialize</li>
      <li>Stylus, Sass, Less</li>
      <li>Gulp, Webpack, Grunt</li>
      <li>GIT knowledge</li>
    </ul>
    <!-- knowledge list end -->

    <!-- divider -->
    <div class="art-ls-divider"></div>

    <!-- links frame -->
    <div class="art-links-frame p-15-15">
      <a href="files/cv.txt" class="art-link" download>Download CV <i class="fas fa-download"></i></a>
    </div>
    <!-- links frame end -->

  </div>
  <!-- scroll frame end -->

  <!-- sidebar social -->
  <div class="art-ls-social">
    <a href="#." target="_blank"><i class="far fa-circle"></i></a>
    <a href="#." target="_blank"><i class="far fa-circle"></i></a>
    <a href="#." target="_blank"><i class="far fa-circle"></i></a>
    <a href="#." target="_blank"><i class="far fa-circle"></i></a>
    <a href="#." target="_blank"><i class="far fa-circle"></i></a>
  </div>
  <!-- sidebar social end -->

</div>


