<section class="art-section art-gray-bg">
  <div class="container">
    <div class="art-section-title">
      <div class="art-title-frame">
        <h4 data-i18n="sections.pricing">{{title}}</h4>
      </div>
    </div>
    <div class="row">
      {{#each items}}
      <div class="col-lg-4 col-md-6">
        <div class="art-a art-price {{#if popular}}art-popular-price{{/if}}">
          <div class="art-price-body">
            <h5 class="mb-30">{{title}}</h5>
            <div class="art-price-cost">
              <div class="art-number">{{price}}</div>
            </div>
            {{#if desc}}<div class="mb-15">{{desc}}</div>{{/if}}
            <ul class="art-price-list">
              {{#each features}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
            <a href="contact.html" class="art-link art-color-link art-w-chevron">
              <span data-i18n="common.orderNow">Order now</span>
            </a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>